@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
   <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav">
         <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
         <NavLink href="trip" class="nav-item nav-link ml-auto">New trip</NavLink>
         <NavLink href="account/logout" class="nav-item nav-link ">Logout</NavLink>
      </div>
   </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
   <AlertComponent />
   @Body
</div>

@code
{
   public bool LoggedIn 
   {
      get { return AccountService.User != null; }
   }
}