@page "/"
@using TripPlanner.Client.Models
@attribute [Authorize]
@inject IAccountService AccountService
@inject IHttpService HttpService

<div class="p-4">
    <div class="container">
        <div class="card m-3">
            <div class="card-header">
                <h1>Hi, @AccountService.User.UserName!</h1>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3>Here you can see the list of your trips:</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>Trip name</th>
                        @* <th>Amount of trip points</th> *@
                        @* <th>Trip length</th> *@
                    </tr>
                    @if (!_loading)
                    {
                        @foreach (var trip in _trips)
                        {
                            <tr>
                                <td>@trip.Name</td>
                                @* <td>@trip.Points.Count</td> *@
                                <!--<td>@trip.Points.Count</td> -->
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
       
        
       
    </div>
</div>

@code {
    private List<Trip> _trips;
    private bool _loading = true;
    
    protected override async Task OnInitializedAsync()
    {
        _trips = await HttpService.Get<List<Trip>>("/api/trips");
        _loading = false;
    }
}
